/**
 * Homepage styling
 */
/* Global */

body {
    font-family: "Roboto";
}

.hidden {
    display: none;
}
/* Feature(s) */

.feature-wrapper {
    width: 100%;
    height: 100vh;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-height: 600px) {
    .feature-wrapper {
        height: 200vh;
    }
}

.feature {
    width: auto;
    height: auto;
    padding: 10px;
}

.vertical-align {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-wrapper:nth-child(even) {
    background: #DDF;
    background: rgba(222, 222, 255, 0.8);

}

.feature-banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
}
.feature-banner img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 0;

    border: 1px dotted black;
}

.feature-description {
    margin: 20px 0;
    font-size: 1.1em;
    width: 60%;
}

.btn {
    border-radius: 0px;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 1.4em;
    border: none;
}

.btn-primary {
    background: #0500E9;
}

/* Front page */

.banner-wrapper {
    width: 100%;
    height: 100vh;
}

.banner-main {
    width: auto;
    height: 180px;
}

.banner-header {
    margin-top: 40vh;
    font-size: 70px;
    text-align: center;
}

.banner-header {
    opacity: 1.0;
    text-shadow: 1px 1px 0px #fff;
    letter-spacing: 10px;

    animation: banner-intro 3s ease-out;
}

@keyframes banner-intro {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        letter-spacing: 1px;

    }
    100% {
        opacity: 1;
        letter-spacing: 10px;

    }
}

.navbar {
    aanimation: nav-intro 6s;
    opacity: 1;
}

@keyframes nav-intro {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;

    }
    100% {
        opacity: 1;

    }
}
/* Background */

.background-wrapper {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 1;
}
.background-overlay {
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: none;
    background: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,0) 70%, rgba(255,255,255,0.5));
}
.background-canvas {
    width: inherit;
    height: inherit;
}