/**
 * index.scss
 *
 * Contains styling for the home page and featured section.
 */

.route-index {

  & {
    
  }



  /* ==========================================================================
                                    Banner
   ========================================================================== */


  .banner-wrapper {
    width: 100%;
    height: 100vh;
  }

  .banner-header {
    padding-top: 40vh;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 0px #fff;
    letter-spacing: 10px;
    opacity: 1.0;
    animation: banner-intro 3s ease-out;
  }

  @keyframes banner-intro {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
      letter-spacing: 1px;

    }
    100% {
      opacity: 1;
      letter-spacing: 10px;

    }
  }

  .banner-main {
    width: auto;
    height: 180px;
  }

  .banner-main img {
    width: 100px;
    height: auto;
  }


  /* ==========================================================================
                                Background (canvas)
   ========================================================================== */


  .background-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .background-overlay {
    width: 100vw;
    height: 100vh;
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;

    background: none;
    background: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,0) 70%, rgba(255,255,255,0.5));
  }

  #background-canvas {
    display: block;
    margin: 0 auto;
    width: inherit;
    height: inherit;
    background: #fff;
    animation: changeBackground 4s ease-out;
  }

  @keyframes changeBackground {
    0% {
      background: #fff;
    }
    100% {
      background: #fafafa;
    }
  }

}