/**
 * nav.scss
 * 
 * Contains styling for the navigation bar
 * On the INDEX page, there is an animation.
 */


.navbar-spacing {
  width: 100%;
  height: $navbarHeight;
}

.navbar-wrapper {


  /* ==========================================================================
                          Navigation bar (bootstrap)
   ========================================================================== */


  .navbar {
    padding: 0 10px;
    border: none;
    border-radius: 0px;
    width: 100%; 
    position: fixed; 
    z-index: 10; 
    background: linear-gradient(#ddf, #bbf );
    background: #eaeaff;

    background-image: url('../../img/bg-highlight.png');
    background-repeat: repeat-x;
  }

  navbar navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }

  a {
    color: #000;
    text-decoration: none;
  }


  /* Brand (left)
   ========================================================================== */

  .navbar .navbar-brand  {
    color: #000;
  } 
  
  .navbar-brand .header-hypercube {
    display: inline;
    width: auto;
    height: 20px;
    vertical-align: none;
  }


  /* Navigation links (right)
   ========================================================================== */

  .navbar-icon {
    display: inline;
    margin-right: 1px;
    width: 18px;
    height: auto;
    transform: rotate(0deg) scale(1, 1);
  }

  .navbar .navbar-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar .navbar-nav > ul > li {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar .navbar-nav > ul > li > a {
    background-color: none;
    transition: background-color 0.7s;
  }

  .navbar .navbar-nav > ul > li > a:hover {
    background-color: rgba(255,255,255,0.3);
    
  }

  .blue {
    color: #00f;

    transition: color 1s;
  }

  .navbar .navbar-nav > ul > li > a:hover .navbar-icon {
    animation: navbarIconSpin 4s infinite  0.2s;
  }

  .navbar .navbar-nav > ul > li > a:hover .blue {
    color: rgb(118, 200, 255);
  }

  @keyframes navbarIconSpin {
    0% {
      transform: rotate(0deg) scale(1, 1);
    }
    30% {
      transform:  rotate(181deg) scale(0.8, 0.8) ;
    }
    60% {
      transform:  rotate(181deg) scale(0.7, 0.7) ;
    }
    100% {
      transform: rotate(360deg) scale(1, 1);
    }
  }


  /* Navigation fade-in
   ========================================================================== */

  .navbar-fade-in {
    opacity: 1;
    animation: nav-intro 6s;
  }

  @keyframes nav-intro {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

}